/* Estilos da lista de categorias */
.categorias-lista ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.categorias-lista li {
    background-color: #333;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.1em;
}

/* Estilos do Cronômetro */
#cronometro-container {
    background-color: #111;
    border: 1px solid #e00000;
    border-radius: 8px;
    padding: 20px;
    margin: 40px 0;
    text-align: center;
}

#cronometro-container h3 {
    margin: 0 0 15px 0;
    font-size: 1.2em;
    color: #ccc;
    font-weight: 400;
}

#cronometro {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

#cronometro div {
    display: flex;
    flex-direction: column;
}

#cronometro div span:first-child {
    font-size: 2.5em;
    font-weight: 900;
    color: #ffffff;
}

#cronometro div span:last-child {
    font-size: 0.8em;
    color: #e00000;
    text-transform: uppercase;
}